@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gluten:wght@100..900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gluten:wght@100..900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

html,

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29292f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5c64;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5c64;
}

.backdrop {
  -webkit-backdrop-filter: blur(75px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(75px);
}

.backdropFilter {
  -webkit-backdrop-filter: blur(20px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(20px);
}

:root {
  /* This tells RainbowKit to use your custom font */
  --rainbow-font-family: 'Gluten', serif;
}

.space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}